body {
  font: 12px/18px "Lucida Grande", arial, sans-serif;
}



/* HEADER
-------------------------------------------------------------------------- */
h1 {
  font-size: 18px;
}

a { text-decoration: none; }

button:focus { outline: none; }


.btn {
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 5px;
  padding: 8px 10px;
  cursor: pointer;
}
  .btn.btn-bottom {
    position: absolute;
    bottom: 15px;
    left: 0;
  }
  .btn.btn-center {

  }
  .btn.btn-new-folder {
    display: block;
    width: 100%;

    background: #333;
    color: #fff;
    border-style: dashed;
    border-radius: 0;
    border: 0;
  }
  .btn.btn-new-folder:hover {
    background: #2a2a2a;
  }
  .btn.btn-folder-bar {
    background: 0;
    color: #fff;
    border: 0;
    border-radius: 0;
    width: 100%;
    text-align: left;
    padding-left: 15px;
    font-size: 12px;
}

#left-content {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 250px;
  height: 100%;
  background: #222;

  box-shadow: inset 0 -3px 0 0 #f00;
}
  #left-content ul {
    list-style: none;
    margin: 50px 0 0 0;
    height: 60%;
    overflow: auto;
  }

  #left-content ul li {
    width: 250px;
    border-bottom: 1px solid #333;
  }

  #left-content ul li a {
    display: block;
    padding: 0 0 0 15px;
    color: #fff;
    text-decoration: none;
    line-height: 35px;

  }
  #left-content ul li:last-child {
    border: 0;
  }

#right-content {
  position: relative;
  top: 0;
  left: 0;
  padding-left: 250px;
  min-width: 550px;
}
  #right-content header {
    height: 65px;
    line-height: 65px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    padding: 0 0 0 15px;
  }
    #right-content header h1 {
      float: left;
    }
    #right-content header #search-field {
      position: absolute;
      top: 0;
      right: 35px;
    }
      #right-content header #search-field input {
        width: 230px;
      }
  #right-content #bookmark-path {
    padding: 0 0 0 15px;
    line-height: 30px;
    background: #e0e0e0;
    font-size: 11px;
  }

#right-content ul {
  list-style: none;
}
#right-content ul li {
  border-bottom: 1px solid #f0f0f0;
  line-height: 34px;
  padding: 0 0 0 15px;
}
  #right-content ul li img {
    float: left;
    padding: 7px 10px 0 0;
  }
  #right-content ul li a {
    display: block;
  }

#modal-new-folder {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);

  display: none;
}
  #modal-new-folder h1 {

  }
  #modal-new folder h2 {

  }
#modal-new-folder-box {
  position: absolute;
  z-index: 99;

  width: 340px;
  height: 180px;

  top: 50%;
  left: 50%;

  margin-left: -170px;
  margin-top: -90px;

  background: #fff;
  border-radius: 10px;
  box-sizing: border-box;

  padding: 15px;
}
  #modal-new-folder-box-buttons {
    position: absolute;
    bottom: 15px;
    right: 25px;
  }
  #modal-new-folder-box input,
  #modal-new-folder-box select {
    border: 1px solid #ddd;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 6px 8px;
  }
